<html>
<head>
    <meta charset = "ISO-8859-1" />
    <title>Spring Boot Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div th:each="item: ${List}" class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Firma</h5>
        <h6 class="card-subtitle mb-2 text-muted">Dane</h6>
        <p>Name: <span th:text="*{item.name}"></span>.</p>
        <p>telephone: <span th:text="*{item.telephone}"></span>.</p>
        <p>postalCode: <span th:text="*{item.postalCode}"></span>.</p>
        <p>street: <span th:text="*{item.street}"></span>.</p>
        <p>city: <span th:text="*{item.city}"></span>.</p>
        <a th:href="@{|src/main/resources/card/${item.telephone}.vcf|}"><span th:text="Link"></span></a>

    </div>
</div>

</body>
</html>